.site-footer {
    background-image: url("../../images/dark-wood@2x.png");
    color: #ffffff;
    padding-bottom: 100px;
    border: solid black;

    h3 {
        text-transform: uppercase;
        color: #d99054;
    }

    a {
        text-decoration: none;
        color: #ffffff;
    }

}

.site-info {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.contact-info {
    display: block;
    margin: 0px;

    p {
        height: 20px;
        padding: 0px;
        margin: 0px;
    }

    .fab {
        padding: 10px;
    }
}


.foot-container {
    background-image: url("../../images/dark-wood.png");
    text-align: center;
    color: #ffffff;

}

.footer-logo {
    width: 20%;

    img {
        margin-top: 20px;
    }


}