/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	color: white;
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 0px;
	background: #248a83;
	//box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	//color: rgba(1, 1, 1, .8);
	@include font-size(0.75);
	line-height: 1;
	padding: .6rem 1rem .4rem;
	//text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);

	// &:hover {
	// 	border-color: #ccc #bbb #aaa;
	// 	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
	// }

	// &:active,
	// &:focus {
	// 	border-color: #aaa #bbb #bbb;
	// 	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
	// }
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	background-color: #f4f4f4;
	border: 1px solid #e1e1e1;

	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
	background-color: #f4f4f4;
	border: 1px solid #e1e1e1;
}

.wpcf7-form {

	span {
		color: orange;
	}

}


//single journal comment section
.post-template-default {

	p.comment-form-author,
	p.comment-form-email {

		width: 49%;
		float: left;
	}

	input[type=email] {
		width: 100%;
	}

	p.comment-form-email {
		margin-left: 1%;
	}

	p.comment-form-author {

		margin-right: 1%;

	}

	input[type=submit] {

		font-size: 20px;
	}


	input[type=url] {

		width: 100%;
	}









}