/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

//journal page

.blog {
    .site-header {
        position: relative;
    }

    .site-main {

        padding-top: 60px;


        article {
            position: relative;
            left: 60px;

        }

        padding-bottom:100px;
        width: 66%;

        border-right: solid $color_border 1px;

        .read-more {
            border: 1px solid black;
            color: $color__text-main;
            padding: 20px 30px;
            text-transform: uppercase;
            text-decoration: none;
            position: relative;
            left: 142px;
            bottom: 0px;
            font-family: Novecento, sans-serif;

        }

        a:hover {
            background-color: $color_background;
            color: $color_white;
        }
    }


    //jounal content

    .entry-content {
        padding-left: 80px;
        padding-right: 25px;

        p {
            width: 90%;
            font-size: 24px;
        }
    }

    //journal content

    .entry-header {
        position: relative;

        img {
            padding-top: 20px;
            margin-left: 80px;
            margin-bottom: 5px;
            height: auto;
            width: 80%;
        }

        //journal image

        .entry-title {
            position: absolute;
            top: 70px;
            left: 80px;
            background-color: $color_background;
            padding: 30px;
            font-size: 30px;

            a {
                color: $color_white;
                text-decoration: none;
            }

            //title link
        }

        //journal title

        .entry-meta {
            position: absolute;
            bottom: 12px;
            background-color: $color_background;
            left: 380px;
            padding: 5px 40px;
            color: $color_white;
            font-size: 20px;
        }

        //journal meta
    }


}




//single journal page

.single {

    .site-main {
        padding-top: 60px;

        .comments-area {

            .comments-title {
                font-size: 40px;

                padding-left: 60px;
                font-family: Merriweather-Bold, Novovento Sans Web bold;
                margin-top: 30px;
            }


        }
    }

    .journal-content-area {


        .social-buttons {
            display: flex;
            position: relative;
            left: 80px;
            bottom: 20px;

            width: 80%;
            justify-content: flex-start;

            .black-btn {
                padding: 5px 15px;
                border: 1px solid;
                background-color: $color_white;
                color: $color__text-main;
                margin-right: 5px;
                font-size: 20px;

                .fab {
                    padding: 5px 10px;
                }

            }

        }


        border-right: solid $color_border 1px;
        width: 66%;

        h3 {
            text-transform: uppercase;
            margin-left: 70px;
            font-size: 38px;
            padding: 30px 0px;
            border-top: 1px solid $color__background-hr;
            width: 90%;


        }



        .comment-form {
            margin-left: 70px;
            margin-right: 50px;

            P {
                font-size: 24px;


            }

        }

        p.comment-form-comment {


            label {

                padding: 10px;
            }
        }




        ol.comment-list {


            ul.children {
                padding-top: 20px;
                margin: 20px;
                border-top: 1px solid $color__background-hr;

                p {

                    padding-left: 60px;
                }

                .reply a {

                    padding-left: 60px;
                }

            }


            list-style: none;
            padding-left: 40px;

            img {
                margin-right: 20px;

                border-radius: 50%;
                float: left;
            }

            a {
                text-decoration: none;
                color: $color_background;
            }

            .comment-content {
                margin-left: 20px;

                font-size: 26px;
                padding-bottom: 20px;


                div.comment-author {

                    font-size: 20px;
                    font-family: Merriweather-Bold, Novovento Sans Web bold;

                }

                p {
                    padding-left: 80px;
                    padding-top: 10px;
                }

                .reply a {
                    padding-left: 70px;


                }

            }






        }







        .entry-title {
            position: absolute;
            top: 130px;
            left: 80px;
            background-color: $color_background;
            padding: 10px;
            font-size: 16px;
            color: $color_white;
            font-size: 30px;
        }

        .entry-header {
            position: relative;





            img {
                padding-top: 40px;
                margin-left: 80px;
                margin-bottom: 5px;
                height: auto;
                width: 85%;
            }

        }

        .entry-meta {
            position: absolute;
            background-color: $color_background;
            padding: 5px 15px;
            color: $color_white;
            font-size: 20px;
            max-width: 100%;
            bottom: 12px;
            right: 60px;

            a {
                color: $color_white;
                text-decoration: none;

                &:hover {
                    color: $color__link-visited;
                }

            }

        }

        .entry-content {
            font-family: Merriweather, serif;
            padding-left: 80px;
            padding-right: 50px;
            font-size: 20px;
        }

        .entry-footer {
            font-family: Merriweather, serif;
            padding-left: 80px;
            text-transform: uppercase;
            font-size: 15px;

            a {
                text-decoration: none;
                color: $color_background;
            }

            .tags-links {
                padding-left: 20px;
            }
        }


    }

    .nav-previous,
    .nav-next {
        display: none;
    }

}







//about page

.page-template-default {
    .site-header {
        position: relative;
    }

    .content-area {
        border-right: 1px solid $color_border;
        width: 66%;
    }

    //container

    .entry-title {
        text-transform: uppercase;
        margin-left: 75px;
    }

    .entry-content {
        padding-left: 40px;

        h2 {
            text-transform: uppercase;
            padding: 5px 40px;
            letter-spacing: 2px;
        }

        p {
            padding-left: 40px;
            padding-right: 71.5px;
            padding-top: 10px;
        }
    }
}

//about page

.page-template {


    .entry-title {
        text-transform: uppercase;
        font-size: 68px;
    }

    .entry-content {
        h2 {
            padding: 10px 0;
            line-height: 1.25;
            text-align: center;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-family: Novecento, sans-serif;
            font-size: 40px;
            padding-bottom: 30px;

        }

        p {
            width: 60%;
            font-size: 22px;
            position: relative;
            left: 250px;
            font-family: Merriweather, serif;
            padding-bottom: 30px;
        }





    }

    .search-form .icon-search {
        color: $color_white;


    }

    .main-navigation {

        a {
            color: $color_white;
        }

    }

    .site-header {
        border-bottom: none;
    }




}










//shop page signle product

.product-template-default {
    .entry-header {
        position: relative;

        img {
            width: 500px;
            margin-top: 40px;
            margin-left: 100px;
        }

        .entry-title {
            color: #d99054;
            text-transform: uppercase;
            position: absolute;
            top: 10px;
            left: 650px;
        }
    }

    .content-area {
        .price {
            position: absolute;
            top: 170px;
            left: 650px;
        }
    }

    .entry-content {
        p {
            position: absolute;
            font-family: Merriweather, serif;
            width: 40%;
            top: 170px;
            left: 650px;
            margin-top: 30px;
        }

        .social-buttons {
            display: flex;

            position: absolute;
            top: 400px;
            left: 650px;
            width: 35%;
            justify-content: space-evenly;

            .black-btn {
                padding: 5px 35px;
                border: 1px solid;
                background-color: $color_white;
                color: $color__text-main;

                .fab {
                    padding: 5px 10px;
                }
            }
        }
    }

    .entry-meta {


        display: none;
    }


}

//home page

.home {

    .site-header {
        position: absolute;
    }

    .search-form .icon-search {
        color: $color_white;


    }

    .main-navigation {

        a {
            color: $color_white;
        }

    }

    .site-header {
        border-bottom: none;
    }


    .entry-title a {
        text-decoration: none;
        color: $color__text-main;
    }

    .content-area {
        width: 100%;
    }

    .home-hero img {
        width: 250px;
        height: 250px;
    }

    h2 {
        font-weight: 400;
        text-align: center;
        line-height: 1.25;
        clear: both;
        font-family: Novecento, sans-serif;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin: 50px;
        font-size: 45px;
    }

    .frontpage-shop {
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding: 0 120px;

        img {
            height: 80px;
            width: 80px;
            padding: 15px;
        }

        .frontpage-term {
            border: 2px solid $color_border;
            border-top-width: 5px;
            width: 25%;
            margin-left: 15px;
            height: 330px;

            p {
                padding: 5px;
                font-size: 20px;
            }

            &:hover {
                border-color: orange;
            }

            a {
                text-decoration: none;
                background-color: $color_background;
                padding: 10px;
                color: $color_white;
                text-transform: uppercase;
                letter-spacing: 3px;
            }

            .front-page-link {

                position: relative;
                top: 50px;

            }
        }


    }



    .adventures-section {


        div.stories-section {
            a {
                text-decoration: none;
                color: $color_white;

                &:hover {
                    color: $color__background-ins;
                }

            }

            .white-btn {
                font-size: 30px;
                border: 1px solid $color_white;
                padding: 10px 20px;

                &:hover {
                    background-color: $color_background;
                }
            }


            display: grid;

            margin: 100px;
            grid-gap:20px;
            grid-template-areas: 'first first second second'
            'first first third fourth ';

            article.adventure {
                &:first-child {
                    position: relative;
                    grid-area: first;

                    .adv-title {
                        position: absolute;
                        top: 80px;
                        left: 20px;
                        font-size: 50px;
                        text-align: left;
                        width: 75%;
                    }

                    .white-btn {

                        position: absolute;
                        left: 30px;
                        bottom: 200px;

                    }

                    img {
                        filter: brightness(50%);
                        height: 650px;
                        object-fit: cover;
                    }

                }



                &:nth-child(2) {
                    position: relative;
                    grid-area: second;

                    .adv-title {
                        position: absolute;
                        top: 50px;
                        left: 20px;
                        font-size: 50px;
                        text-align: left;
                        width: 75%;
                    }

                    .white-btn {

                        display: none;

                    }

                    img {
                        height: 300px;
                        object-fit: cover;
                        width: 700px;
                    }



                }


                &:nth-child(3) {
                    position: relative;
                    grid-area: third;


                    .adv-title {
                        position: absolute;
                        top: 50px;
                        left: 20px;
                        font-size: 30px;
                        text-align: left;
                        width: 75%;
                    }

                    .white-btn {
                        position: absolute;
                        left: 30px;
                        bottom: 30px;
                    }

                    img {
                        height: 320px;
                        object-fit: cover;
                    }

                }










                &:nth-child(4) {
                    position: relative;
                    grid-area: fourth;
                }

                .adv-title {
                    position: absolute;
                    top: 50px;
                    left: 20px;
                    font-size: 30px;
                    text-align: left;
                    width: 75%;
                }

                .white-btn {
                    position: absolute;
                    left: 30px;
                    bottom: 30px;
                }

                img {
                    height: 320px;
                    object-fit: cover;
                }

            }

        }


        a.brand-btn {
            position: relative;
            font-size: 30px;

            padding: 10px 20px;
            text-transform: uppercase;
            color: $color_white;
            background-color: $color_background;
            text-decoration: none;
            left: 100px;
            bottom: 70px;

        }



    }

    .front-page_journal {
        display: flex;
        justify-content: center;
        text-align: center;


        .entry-meta {
            font-size: 15px;
            position: relative;
            left: -70px;

        }

        .journal-entry {
            width: 27%;
            border: 1px solid $color_border;
            margin-left: 15px;
            height: 500px;
            position: relative;

            img {

                width: 120%;

            }
        }

        a {
            font-size: 24px;
            text-decoration: none;
            color: $color_background;
            display: flex;
            text-transform: uppercase;
            justify-content: flex-start;
            padding-top: 5px;
            margin-left: 10px;
        }

        .read-more {
            border: 1px solid;
            position: absolute;
            left: 10px;
            top: 400px;
            padding: 10px;
            color: $color__text-main;
        }

        a:hover {
            background-color: $color_background;
            color: $color_white;
        }

        .entry-meta-title a {
            text-align: left;
            padding: 5px;
            width: 90%;

            &:hover {
                background-color: $color_white;
                color: $color__link-visited;
            }
        }
    }
}

//achive shop main page

.archive {
    .page-title {

        text-align: center;
        margin-top: 50px;
        text-transform: uppercase;
        font-family: Novecento, sans-serif;
        letter-spacing: 2px;
        font-size: 46px;
    }

    .archive-frontpage-shop {
        display: flex;
        font-size: 25px;
        justify-content: center;
        margin: 10px 50px 50px 100px;
        position: relative;
        left: 50px;
        border-bottom: dotted $color__border-abbr;
        width: 78%;
        padding-bottom: 50px;

        p {
            margin: 0 10px;
            padding: 10px;
            text-transform: uppercase;

            a {
                text-decoration: none;
                color: $color_background;

                &:hover {
                    color: $color__link-visited;
                }
            }
        }
    }
}


//archive.php


.archive {


    .site-main {
        padding-top: 60px;

        .description p {

            text-align: center;
        }


    }


    .product-link-title {
        width: 250px;
        font-size: 15px;
        font-weight: 400;
        position: relative;
        top: 50px;
        letter-spacing: 0;
        padding-right: .25rem;
        text-transform: none;
        text-align: left;
        padding-left: 5px;
        text-transform: uppercase;
        overflow: hidden;

    }

    .price {
        position: absolute;
        right: 5px;
        top: 305px;
    }

    .product-link {
        border: 1px solid $color_border;
        position: relative;
    }

    .product-link img {
        width: 250px;
        height: 250px;
    }

    .archive-php-page {
        margin-bottom: 50px;
        margin-left: 150px;
        display: grid;
        grid-gap: 40px;
        grid-template-columns: 250px 250px 250px 250px;
        grid-template-rows: 350px 350px 350px 350px;

    }

    .dots {
        position: absolute;
        right: 70px;
        top: 300px;
        overflow: hidden;
        flex: 1;

        &:after {
            content: '...............';
        }
    }





}



.tax-product_type {

    .description p {
        font-weight: 400;
        border-bottom: 1px dashed #c8c8c8;
        font-family: Merriweather, serif;
        width: 78%;
        margin-left: 150px;
        padding-bottom: 50px;

    }

    .archive-php-page {
        display: grid;
        grid-template-columns: 250px 250px 250px 250px;
        grid-template-rows: 300px;
        margin-bottom: 100px;
        padding-top: 50px;
    }

    div.product-link {
        position: relative;

        h3.product-link-title,
        div.dots,
        span.price {


            position: absolute;
            top: 270px;

        }


    }

}




//404 page


.error404 {

    .site-header {
        position: relative;

    }

    .site-content {

        .content-area {


            .error-404 {

                width: 70%;
                border-right: solid $color__background-hr 1px;
                padding: 50px 100px;

                .page-header {
                    .page-title {

                        font-size: 50px;
                        width: 80%;
                        text-transform: uppercase;


                    }



                }

                .page-content {



                    a {
                        font-size: 20px;
                        text-decoration: none;
                        color: $color_background;

                    }

                    ul {
                        padding-top: 50px;
                        list-style: none;

                        li {
                            padding: 5px;
                        }
                    }



                    p {

                        padding: 20px;
                        font-size: 20px;
                    }

                    .widget .widget-title {
                        padding-left: 40px;


                    }

                    .widget .widgettitle {

                        font-size: 30px;
                        padding-left: 40px;
                    }

                    .widget p {

                        padding-left: 40px;
                        font-size: 20px;
                    }

                    .widget select[name=archive-dropdown] {
                        margin-left: 40px;

                        font-size: 20px;
                    }


                    .search-form {
                        padding-left: 40px;

                        .search-field {
                            display: block;
                        }

                        .show-search {




                            .icon-search {


                                i.fa {
                                    color: white;
                                }

                            }

                        }


                    }
                }

            }
        }

    }

}



//Search php


.search {

    .site-header {
        position: relative;
        padding-bottom: 20px;
    }

    .site-content {

        .content-area {


            .site-main {
                padding: 100px;

                width: 70%;
                border-right: 1px solid $color__background-hr;

                a {
                    color: $color_background;
                    font-size: 30px;
                    text-decoration: none;


                }

                .page-header {

                    height: auto;
                    border-bottom: 1px solid $color__background-hr;

                    h1.page-title {
                        font-size: 40px;
                        text-align: left;
                        padding-left: 10px;
                        font-family: Novecento Sans Web, sans-serif;
                        letter-spacing: 2px;
                        text-transform: uppercase;

                    }
                }







            }


            article.page {


                .entry-header {

                    .entry-title {

                        padding: 20px 2px;
                        font-size: 50px;
                        font-family: Merriweather-Bold, sans-serif;
                    }


                }

                .entry-summary {

                    p {

                        font-size: 20px;

                    }

                }


            }








        }
















    }




}