/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.entry-content {
    margin-left: 50px;
    width: 60%;
    border-right: 1px solid #e1e1e1;
    border: solid red;
    height: 100%;
    position: relative;

    .wp-block-image {
        border: solid green;

    }

    a {
        text-decoration: none;
        color: white;
    }

    #VCPC {
        background-color: #248A83;
        max-width: 70%;
        position: absolute;
        top: 60px;
        padding: 10px;
    }



}