/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 $base__space-unit;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}


.fas {
	margin: 10px;

}

.widget-area {
	position: absolute;
	border-top: 1px solid #e1e1e1;
	right: 0px;
	top: 100px;
	padding-top: 40px;
	border: solid green;

	a {
		text-decoration: none;
		color: #248A83;
	}
}


/* custom hero image of tha bout page*/