/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 $base__space-unit;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}


.fas {
	margin: 10px;

}

.widget-area {
	position: absolute;

	right: 100px;
	top: 100px;
	padding-top: 40px;


	a {
		text-decoration: none;
		color: #248A83;
	}

	.widget_text {
		padding-bottom: 60px;
		font-size: 20px;

		h2.widget-title {
			font-size: 30px;
			width: 40%;
		}

		.textwidget .contact-info {
			p {
				padding: 20px 0px;
				font-size: 20px;


			}
		}
	}


}


/* custom hero image of tha bout page*/