/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 $base__space-unit;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;

	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}


.fas {
	margin: 10px;

}

.widget-area {
	position: absolute;
	border-top: 1px solid #e1e1e1;
	right: 10px;
	top: 100px;
	padding-left: 14px;
}

.textwidget a {
	color: #248A83;
	text-decoration: none;

}